.register {
  display: flex;
  height: 100%;

  .left {
    flex: 5;
    height: 881px;
    width: 100%;
    background-color: #00e676;
    color: white;

    &__container {
      max-width: 80%;
      margin: auto;

      h1 {
        font-size: 50px;
        margin: auto;
        margin-top: 58%;
        margin-bottom: 20px;
      }

      p {
        font-size: 16px;
        max-width: 600px;
        margin: auto;
      }
    }
  }

  .right {
    flex: 7;
    height: 100%;
    max-width: 100%;
    text-align: center;

    &__container {
      max-width: 60%;
      margin: auto;

      h2 {
        margin-top: 20px;
      }

      .profilePic {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        cursor: pointer;
      }

      .link {
        color: #00e676;
        margin-left: 10px;
      }
    }
  }
}